.header, .offer, .savings {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 4.8rem;
  padding-right: 4.8rem;
}

/*-- Header --*/
.header {
  position: relative;
  z-index: 20;
  &__imgSection {
    width: 100%;
    height: calc(100% + (100% / 0.348));
    position: absolute;
    top: 0;
    right: calc(50% - 98%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 150px 100%);
    @media (min-width: 1440px) {
      width: 50%;
      right: 10%;
    }
    &-image {
      width: 100%;
      height: 100%;
      background-image: url('./src/images/food.jpg');
      background-repeat: no-repeat;
      background-position-y: -250px;
      background-position-x: 0;
    }
  }
}

/*-- Offer --*/
.offer {
  display: block;
  margin-bottom: 1.2rem;
  padding-top: 7.4rem;
  padding-bottom: 4.8rem;
  position: relative;
  background-color: var(--clr-purple-100);
  &::before {
    content: '';
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(50% - 50vw);
    background-color: var(--clr-purple-100);
    z-index: -100;
  }
}

/*-- Savings --*/
.savings {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: var(--clr-purple-100);
  &::before {
    content: '';
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(50% - 50vw);
    background-color: var(--clr-purple-100);
    z-index: -100;
  }
  &__colLeft {
    flex: 2;
    margin-left: -4.8rem;
    @media (max-width: 992px) {
      background-image: url('/src/images/piggy-bank.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
  &__colRight {
    padding: 3.2rem 2.4rem 4.8rem;
    flex: 4;
  }
}